.advisory-notice {
    background-color: green;
    margin-top: 50px;
    padding: 0;

    @media (min-width: $tablet) {
        margin: 80px 8.3333% 0;
    }

    .intro + & {
        margin-top: 25px;

        @media (min-width: $tablet) {
            margin-top: 25px;
        }
    }

    p {
        color: white;
        padding: 5%;
    }
}