.page-header {
    border: 0;

    @media (min-width: $tablet) {
        margin-top: 25px;
    }

    .page-title {
        font-size: 3.9rem;
        line-height: 1.2308;
    }
}

.hentry,
.comments-area,
.post-navigation,
.page-header {
    @media (min-width: $tablet) {
        margin-left: 4.1666%;
    }
}

.hentry {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        a {
            &:hover,
            &:focus {
                opacity: 0.6;
            }
        }
    }

    a {
        &:hover,
        &:focus {
            opacity: 0.6;
        }
    }
}

#insert-media-button {
    border-color: #ccc;
    color: #555;
}