.widget-title {
    margin-bottom: 0;
    padding: 12px 35px 12px 10px;
}

.main-navigation,
.widget {
    margin: 0 0 25px;

    h2 {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: normal;
        text-transform: none;
    }

    li {
        border: 0;
        padding: 0;
        position: relative;
        transition: background-color ease-in-out .3s;

        .children,
        .sub-menu {
            display: none;
            border: 0;
            margin: 0;
            padding: 0;

            li {
                margin-left: 10px;
            }
        }

        &.page_item_has_children.current_page_item,
        &.current_page_parent,
        &.current_page_ancestor {
            .children,
            .sub-menu {
                display: block;
            }
        }
    }

    a {
        display: block;
        font-family: $noto-sans;
        font-size: 14px;
        line-height: 1.6;
        padding: 12px 35px 12px 10px;
        transition: color ease-in-out .3s;

        &:after {
            content: '\f429';
            font-family: "Genericons";
            font-size: 24px;
            opacity: .6;
            position: absolute;
            right: 5px;
            top: 3px;
        }
    }

    a:hover,
    a:focus,
    li.current_page_item > a,
    li.current_page_parent > a,
    li.current_page_ancestor > a {
        &:after {
            opacity: 1;
        }
    }

    .children,
    .sub-menu {
        li.current_page_item > a {
            &:after {
                opacity: 1;
            }
        }
    }
}

.main-navigation {
    padding: 0 20%;

    .dropdown-toggle {
        display: none;
    }

    .current-menu-ancestor > a,
    .current-menu-item > a {
        font-weight: 400;
    }
}

.widget {
    .recentcomments {
        font-size: 14px;
        line-height: 1.6;
        padding: 12px 35px 12px 10px !important;
    }

    input.search-field {
        border: 0;
        font-size: 14px;
        font-family: $noto-sans;
        padding: 12px 35px 12px 10px;
        position: relative;
    }

    .search-form {
        position: relative;

        &:after {
            content: '\f400';
            font-family: "Genericons";
            font-size: 24px;
            opacity: .6;
            position: absolute;
            right: 7px;
            top: 5px;
        }
    }

    .textwidget {
        font-family: $noto-sans;
        padding: 12px 10px;
    }

    .tagcloud {
        padding: 12px 35px 12px 10px;

        a {
            display: inline;
            padding: 0;
        }
    }
}