# Git Ignore for the CPD theme project

# OS Ignores
.DS_Store

# Assets

assets/css/*

# Build Ignores

# SCSS

.sass-cache
*.css.map

# Reports

reports
scsslint-report.xml
jshint-report*.txt

# Node

node_modules

# Bower

bower_components

# Composer
# Lets manage these in git, because they change too rapidly at this point

# composer.lock
# vendor

# WordPress

htdocs/*
!htdocs/polyfills
!htdocs/wp-content
htdocs/wp-content/themes/cpd-theme/css/*
htdocs/wp-content/themes/cpd-theme/js/*
htdocs/wp-content/themes/cpd-theme/style.css
htdocs/wp-content/themes/cpd-theme/style.css.map
!htdocs/wp-content/themes/cpd-theme/inc/*
htdocs/wp-content/themes/cpd-theme/inc/vendor/
htdocs/wp-content/themes/cpd-theme/inc/vendor/*
htdocs/wp-content/uploads
htdocs/wp-content/upgrade
htdocs/wp-content/plugins/.DS_Store
htdocs/wp-content/mu-plugins/.DS_Store

# ignore specific themes
wp-content/themes/twentyten/
wp-content/themes/twentyeleven/
wp-content/themes/twentytwelve/
wp-content/themes/twentythirteen/
wp-content/themes/twentyfourteen/
# wp-content/themes/twentyfifteen/