.page-header {
  border: 0;

  @media (min-width: $tablet) {
    margin-top: 25px;
  }

  .page-title {
    font-size: 3.9rem;
    line-height: 1.2308;
  }
}

.hentry {
  & + & {
    @media (max-width: 619px) {
      border: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a:hover,
    a:focus {
      opacity: .6;
    }
  }

  a {
    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  pre {
    border: 0;
  }
}

#insert-media-button {
  border-color: #ccc;
  color: #555;
}
