.ppd-archive-container {
  margin-top: 25px;
  padding: 0 8.3333%;

  @media (min-width: $tablet) {
    padding: 0 8.3333% 0 4.1666%;
  }
}

.ppd-archive {
  .date {
    @media (min-width: $tablet) {
      width: 12.5%;
    }
  }

  .activity {
    @media (min-width: $tablet) {
      width: 17.5%;
    }
  }

  .description {
    @media (min-width: $tablet) {
      width: 30%;
    }
  }

  .points {
    @media (min-width: $tablet) {
      width: 10%;
    }
  }

  .evidence {
    @media (min-width: $tablet) {
      width: 15%;
    }
  }

  .categories {
    @media (min-width: $tablet) {
      width: 15%;
    }
  }
}
