.ppd-archive,
.entry-content table {
  ul {
    list-style: none;
    margin: 0;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    border-bottom-width: 1px;
    border-style: dotted;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  @media only screen and (max-width: 954px) {
    // Force table to not be like tables anymore
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
    // Hide table headers (but not display: none;, for accessibility)

    thead tr {
      left: -9999px;
      position: absolute;
      top: -9999px;
    }

    td {
      // Behave  like a "row"
      border: 0;
      padding-left: 25%;
      position: relative;
    }

    td:before {
      // Now like a table header - top/left values mimic padding
      font-weight: 700;
      left: .75em;
      padding-right: .75em;
      position: absolute;
      top: .75em;
      white-space: nowrap;
      width: 25%;
    }

    // Label the data using the attribute we're adding via JS
    td:before {
      content: attr(data-th-value);
    }
  }

  @media only screen and (max-width: 600px) {
    td {
      padding: 35px .75em 25px;
    }
  }
}
