footer[role="contentinfo"] {
    margin-top: 80px;
    padding: 50px 10% 50px;
    position: relative;
    width: 100%;
}

footer[role="contentinfo"],
.bottom {
    .left,
    .right {
        float: none;
        text-align: center;
        width: 100%;
    }

    .left {
        @media (min-width: $tablet) {
            float: left;
            text-align: left;
            width: 59.5%;
        }
    }

    .right {
        @media (min-width: $tablet) {
            float: right;
            text-align: right;
            width: 39.5%;
        }
    }
}

.credits,
.bottom {
    margin: 0 auto;
    max-width: 1210px;
    overflow: hidden;
}

.credits {
    .left {
        margin-bottom: 50px;

        @media (min-width: $tablet) {
            margin-bottom: 0;
        }
    }
}

.bottom-wrapper {
    position: relative;
    width: 100%;
}

.bottom {
    font-size: 14px;
    padding: 20px 0;

    p {
        margin: 0;
    }

    a {
        display: inline-block;
    }
}

.footer-menu {
    list-style: none;
    margin: 0 0 25px;

    @media (min-width: $tablet) {
        margin: 0;
    }

    li {
        display: inline-block;
        margin-right: 15px;
    }

    a {
        &:hover,
        &:focus {
            opacity: 0.6;
        }
    }
}