#content {
    @media (min-width: $tablet) {
        margin-left: 29.4118%;
        width: 69.5882%;
    }
}

#main {
    margin-top: 25px;
    padding: 0;

    @media (min-width: $tablet) {
        margin-top: 8.3333%;
    }

    .advisory-notice + & {
        margin-top: 8.3333%;
    }
}