#content {
  @media (min-width: $tablet) {
    margin-left: 29.4118%;
    width: 69.5882%;
  }
}

.comments-area,
.hentry,
.navigation.pagination,
.page-header,
.post-navigation {
  @media (min-width: $tablet) {
    margin-left: 4.1666%;
  }
}

#main {
  margin-top: 25px;
  padding: 0;

  @media (min-width: $tablet) {
    margin-top: 8.3333%;
  }

  .advisory-notice + & {
    margin-top: 8.3333%;
  }
}
