// Main Colours
$color--white: #fff;

// Font Families
$sans--noto: "Noto Sans", sans-serif;
$serif--noto: "Noto Serif", serif;

// Font Sizes
$text--small: 14px;
$text--medium: 18px;

// Breakpoints
$tablet: 954px;
