// Colours
$color-charcoal: #414042;
$color--white: #fff;

// Abstract Colours
$heading--color: $color-charcoal;

// Fonts

$noto-sans: "Noto Sans", sans-serif;
$noto-serif: "Noto Serif", serif;

// Breakpoints
$tablet: 954px;